@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@layer base {
  body {
    background-color: white;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', system-ui, sans-serif;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  0% { width: 0; transform: translateX(-100%); }
  50% { width: 100%; transform: translateX(0); }
  100% { width: 0; transform: translateX(100%); }
}
